/* Estilos básicos para a página */
body {
    font-family: Arial, sans-serif;
    background-color: hwb(287 4% 26%);
    background-image: url('https://media1.tenor.com/m/0Mg3R5jZUnQAAAAd/thanos-dance.gif');
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #894caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}